:root {
  /* Color */
  --main-color: #007ced;
  --main-text-clr: #333333;
  --secondary-text-clr: #666666;
  --third-text-clr: #aaaaaa;
  --border-clr: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23298fed'/%3E%3Cstop offset='1' stop-color='%23007beb'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%231585ec'/%3E%3Cstop offset='1' stop-color='%23007beb'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--main-text-clr);
  font-weight: 700;
}

a,
p,
li,
span,
label,
input,
textarea {
  color: var(--secondary-text-clr);
}

a {
  text-decoration: none;
}

p,
a {
  font-size: 14px;
  line-height: 25px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 13px;
  }
  h6 {
    font-size: 11px;
  }
  p,
  a {
    font-size: 12px;
    line-height: 20px;
  }
}

/* Global container and section */

.main-container {
  width: 1250px;
  background: #ffffff;
  margin: 3em auto;
  border-radius: 2.5em;
}

@media screen and (max-width: 1250px) {
  .main-container {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

section {
  padding: 3rem 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 1em;
}

.grey-line {
  width: 120px;
  height: 2px;
  background: #ccc;
  margin-top: 0.4em;
}

.blue-fill {
  width: 40px;
  height: 2px;
  background: var(--main-color);
}

/* Button */
.btn {
  padding: 8px 25px;
  border: 2px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
  transition: 0.3s ease-in;
}

.btn:hover {
  background: #f1f1f1;
}

.btn-sm {
  padding: 4px 15px;
}

.btn-blue {
  transition: 0.3s ease-in;
  border: 2px solid var(--main-color);
}

.btn-blue:hover {
  background: var(--main-color);
  color: #fff;
}

/* Navigation menu */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  position: relative;
}

.logo h4 {
  display: inline-block;
  font-size: 22px;
}

.logo span {
  font-weight: 400;
}

.nav-btn {
  display: none;
}

.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav-links > a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#nav-check {
  display: none;
}

@media (max-width: 768px) {
  .nav-btn {
    display: block;
  }

  .nav-btn label {
    cursor: pointer;
  }

  .nav-btn label span {
    display: block;
    width: 40px;
    height: 4px;
    margin: 6px 0;
    background: #000000;
    transition: 0.3s;
  }

  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background: #ffffff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 72px;
    left: 0px;
  }

  .nav-links a {
    display: block;
    width: 100%;
  }

  #nav-check:checked ~ .nav-links {
    height: 150px;
    overflow-y: hidden;
    box-shadow: rgba(138, 138, 138, 0.1) 0px 1px 1px 1px;
  }

  /* Hamburger menu */
  #nav-check:checked ~ .nav-btn span:nth-child(3) {
    transform: rotate(45deg) translateY(-14px);
  }

  #nav-check:checked ~ .nav-btn span:nth-child(2) {
    opacity: 0;
  }

  #nav-check:checked ~ .nav-btn span:nth-child(1) {
    transform: rotate(-45deg) translateY(14px);
  }
}

/* Hero */

#hero {
  width: 75%;
  display: grid;
  gap: 2em;
  grid-template-columns: 40% 60%;
  margin: 0 auto;
}

.hero-img {
  padding: 1rem;
}

.hero-image img {
  width: 100%;
  border-radius: 50%;
  border: 1rem solid #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.hero-info h5 {
  color: var(--third-text-clr);
  font-weight: 400;
}

.hero-info h1 {
  margin-bottom: 0.5rem;
}

.hero-info p {
  margin-bottom: 1rem;
}

.hero-info-btn {
  display: flex;
  gap: 0.7rem;
}

/* About section */

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.about-wrapper p {
  margin-bottom: 1rem;
}

.about-image {
  text-align: center;
}

.about-image img {
  width: 85%;
}

.about-tech {
  font-weight: 600;
}

/* Portfolio section*/

.portfolio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.project {
  position: relative;
  height: 350px;
  border-radius: 10px;
  transition: 0.4s ease-in;
}

.project-thumbnail {
  width: 100%;
  height: 100%;
}

.project-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-thumbnail h6 {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 3px 7px;
  background: #fff;
  border-radius: 5px;
}

.project-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  transition: 0.4s ease-in;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
}

.project-desc h4 {
  margin-bottom: 7px;
}

.project-desc p {
  margin-bottom: 14px;
}

.project:hover .project-desc {
  opacity: 1;
}

.project:hover {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

/* Contact */

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

/* Form Contact */

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 2px solid var(--border-clr);
  font-size: 15px;
  font-weight: 500;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.contact-form input::placeholder,
textarea::placeholder {
  font-weight: 400;
}

.contact-form button {
  background: #fff;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-text-clr);
}

/* Footer */
footer {
  padding: 1em 0;
  width: 100%;
  border-top: 1px solid var(--border-clr);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
}

.social-media li {
  margin-right: 1.5em;
}

.social-media li a:hover {
  color: var(--main-color);
}
